<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerd Market - Login</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Magic Awaits</h1>
    <form method="post" id="loginForm">
        <input type="password" name="password" placeholder="Enter Password" required/>
        <button type="submit">Login</button>
    </form>
</body>
</html>
